@model SampleProject.ViewModels.HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title= "Details Page";
}

<div>
    Name:@Model.employee.Name
</div>
<div>
    Email:@Model.employee.Email
</div>
<div>
    Dept:@Model.employee.Department
</div>