@model HomeDetailsViewModel

@{
    ViewBag.Title = "Details Page";
}

<div>
    Name:@Model.employee.Name
</div>
<div>
    Email:@Model.employee.Email
</div>
<div>
    Dept:@Model.employee.Department
</div>

@section Scripts
{
    <script src="~/js/Custom.js"></script>
}